<section class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
  <h1 class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
    My Events
  </h1>
  <section class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
    <main class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        Sign in to your account
      </h1>
      <form class="space-y-4 md:space-y-6" (submit)="loginUser()" [formGroup]="formGroup">
        <fieldset>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Your email
          </label>
          <input
            formControlName="email"
            type="email"
            name="email"
            id="email"
            autocomplete="email"
            class="px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-indigo-500 focus:ring-indigo-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
            placeholder="email@email.com"
          />
          <app-form-errors formControlName="email" [label]="'Email'"/>
        </fieldset>
        <fieldset>
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Password
          </label>
          <input
            formControlName="password"
            type="password"
            name="password"
            id="password"
            placeholder="••••••••"
            autocomplete="current-password"
            class="px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-indigo-500 focus:ring-indigo-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          />
          <app-form-errors formControlName="password" [label]="'Password'"/>
        </fieldset>
        <article class="flex items-center justify-between">
          <a
            href="#"
            [routerLink]="['/forgot-password']"
            class="text-sm font-medium text-indigo-600 hover:underline dark:text-indigo-500">
            Forgot password?
          </a>
        </article>
        <button
          type="submit"
          class="w-full text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800"
          [disabled]="formGroup.invalid"
        >
          Sign in
        </button>
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
          Don’t have an account yet?
          <a class="font-medium text-indigo-600 hover:underline dark:text-indigo-500"
            [routerLink]="['/signup']"
          >
            Sign up
          </a>
        </p>
      </form>
    </main>
  </section>
</section>