<!-- <div class="container">
  <header>
    <nav class="nav container">
      <a href="#" class="nav-log">Name</a>
      <article class="nav-menu">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-name" href="">
              <i class="fas fa-home"></i>Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-name" href="">
              <i class="fas fa-address-card"></i>About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-name" href="">
              <i class=""></i>Skills
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-name" href="">
              <i class="fa-solid fa-briefcase"></i>Portfolio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-name" href="">
              <i class="fas fa-user"></i>Contactame
            </a>
          </li>
        </ul>

      </article>
      <img src="" alt="" class="nav-img">
    </nav>

  </header>


</div> -->
<header class="navbar shadow drop-shadow-md mb-2">
  <article class="flex-1">
    <a class="btn btn-ghost text-xl" [routerLink]="'principal'">My Events</a>
  </article>
  <section class="flex-none gap-2">
    <!-- <div class="form-control">
      <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
    </div> -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-24 rounded-xl hover:ring hover:ring-stone-400 ring-offset-base-100 ring-offset-2">
          <img alt="Tailwind CSS Navbar component" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
      </div>
      <div class="dropdown-content bg-base-200 text-base-content rounded-box top-px mt-16 max-h-[calc(100vh-10rem)] w-56 overflow-y-auto border border-white/5 shadow-2xl outline outline-1 outline-black/5">
        <ul tabindex="0" class="menu menu-sm gap-1 bg-white">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a [routerLink]="'my-events'">My Events</a></li>
          <li><a>Logout</a></li>
        </ul>
      </div>
    </div>
  </section>
</header>