.container {
  position: relative;
}

.main-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-buttons {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.floating-button {
  background-color: #3498db;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}