<section class="py-6 px-4">
  <table class="table-auto shadow-2xl bg-white rounded-lg" id="principal-table">
    <thead>
      <tr>
        @for (column of columName; track column) {
          <th class="bg-sky-200 text-bg-sky-500">{{column}}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of data; track row.id; let odd = $odd) {
        <tr [ngClass]="odd ? 'bg-slate-300' : 'bg-slate-400'">
          <td>{{row.id}}</td>
          <td>{{row.nombre}}</td>
          <td>{{row.tipo}}</td>
          <td>{{row.ingredientes}}</td>
          <td>{{row.calorias}}</td>
          <td>{{row.precio}}</td>
          <td>{{row.descuento}}</td>
          <td>{{row.disponible}}</td>
          <td>{{row.fecha_creacion}}</td>
          <td>{{row.chef}}</td>
        </tr>
      }
    </tbody>
  </table>
  <table class="table-auto shadow-2xl rounded-lg" id="secondary-table">
    <thead class="hover:border-blue-200 hover:border-solid">
      <tr>
        <th class="bg-sky-200 text-bg-sky-500">Columnas</th>
        <th class="bg-sky-200 text-bg-sky-500">Datos</th>
      </tr>
    </thead>
    <tbody>
      @for (row of data; track row.id; let odd = $odd) {
        @for (prop of columName; track prop) {
          <tr>
            <td class="bg-sky-200"><b>{{prop}}</b></td>
            <td [ngClass]="odd ? 'bg-slate-300' : 'bg-slate-400'">{{row[prop]}}</td>
          </tr>
        }
        <br>
      }
    </tbody>
  </table>
</section>