<footer class="my-1">
  <span class="text-pink-600" *ngIf="ngControl.control?.errors as error">
    @if (error['required']) {
      {{label}} is required
    }
    @if (error['minlength']) {
      {{label}} must be greater than {{error['minlength']?.requiredLength}}
    }
    @if (error['maxlength']) {
      {{label}} must be less than {{error['maxlength']?.requiredLength}}
    }
    @if (error['invalidRepeatPassword']) {
      La contraseña no coincide
    }
    @if (error['email']) {
      Correo inválido
    }
    @if (error['min']) {
      {{label}} must be greater than or equal to {{error['min']?.min}}
    }
    @if (error['max']) {
      {{label}} must be less than or equal to {{error['max']?.max}}
    }
  </span>
</footer>