<fieldset [ngClass]="ngControl.control?.invalid && ngControl.control?.touched ? 'mb-0': 'mb-6'">
  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" [for]="name">{{label}}</label>
  <select
    [id]="id"
    [name]="name"
    [attr.aria-label]="label"
    [formControl]="$any(ngControl).control"
    class="px-3 py-2 bg-white border shadow-sm
      placeholder-slate-400
      disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200
      focus:outline-none block w-full rounded-md sm:text-sm
      disabled:shadow-none"
    [ngClass]="{
      'border-pink-500 focus:border-pink-500 focus:ring-1 ring-pink-500 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500': ngControl.control?.invalid && ngControl.control?.touched,
      'focus:border-indigo-500 focus:ring-indigo-500 focus:ring-1': ngControl.control?.valid,
      'border-slate-300': ngControl.control && !ngControl.control.touched
    }"
  >
    <option [ngValue]="null" hidden>Select one of {{label}}</option>
    <option [ngValue]="item.key" *ngFor="let item of list">{{item.value}}</option>
  </select>
  <app-form-errors [formControl]="$any(ngControl).control" [label]="label"/>
  @if (description) {
    <span class="text-gray-500">{{description}}</span>
  }
</fieldset>