<section class="max-w-md m-4 md:mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl group/item hover:bg-slate-100 mb-2 ms:mx-3 border-indigo-500 ring-indigo-500 ring-1">
  <section class="md:flex">
    <main class="p-8">
      <article class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{eventModel.name}}</article>
      <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline"
        [ngClass]=" eventModel.passDate ? 'text-red-400' : 'text-green-400'">
        {{eventModel.date | date: 'dd/MM/yyyy'}}
      </a>
      <p class="mt-2 text-slate-500">{{eventModel.description}}</p>
      @if (eventModel.isPublic) {
        <article role="" class="badge badge-secondary badge-outline hover:bg-secondary hover:text-white">
          <i class="fas fa-info"></i>&nbsp;
          <span>
            Public
          </span>
        </article>
      } @else {
        <article class="badge badge-secondary badge-outline">
          <i class="fas fa-lock"></i>&nbsp;
          Private
        </article>
      }
    </main>
  </section>
</section>