<section class="max-w-* m-4 ms:mx-3 md:mx-auto md:max-w-2xl bg-white rounded-xl shadow-md overflow-hidden group/item hover:bg-slate-100 mb-2 border-indigo-500 ring-indigo-500 ring-1">
  <main class="w-100 p-8">
    <article class="break-all">
      <b>Name:&nbsp;</b>
      <span class="uppercase text-sm text-indigo-400 mt-1 leading-tight font-medium">
        {{eventModel.name}}
      </span>
    </article>
    <article class="break-all">
      <b>Date:&nbsp;</b>
      <span class="mt-1 leading-tight font-medium"
        [ngClass]="eventModel.passDate ? 'text-red-400' : 'text-indigo-400'">
        {{eventModel.date | date: 'dd/MM/yyyy': 'utc'}}
      </span>
    </article>
    <article class="break-all">
      <b>Description:&nbsp;</b>
      <span class="mt-2 text-slate-500">{{eventModel.description}}</span>
    </article>
    @if (eventModel.isPublic) {
      <article role="button" class="badge badge-primary badge-outline hover:bg-indigo-600 hover:text-white">
        <i class="fas fa-info"></i>&nbsp;
        <span>
          Public
        </span>
      </article>
    } @else {
      <article role="button" class="badge badge-secondary badge-outline">
        <i class="fas fa-lock"></i>&nbsp;
        Private
      </article>&nbsp;
      <button class="badge badge-primary badge-outline" (click)="editEvent(eventModel.id)">
        <i class="fas fa-pen"></i>&nbsp;
        Edit
      </button>
    }
  </main>
</section>