<section class="max-w-md m-4 md:mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl group/item hover:bg-slate-100 mb-2 ms:mx-3 border-indigo-500 ring-indigo-500 ring-1">
  <section class="md:flex">
    <main class="p-8">
      <article>
        <span class="font-medium">Name:</span>
        <span class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">
          {{eventModel.name}}
        </span>
      </article>
      <article>
        <span class="font-medium">Date:</span>&nbsp;
        <span class="block mt-1 text-lg leading-tight font-medium text-black"
          [ngClass]="eventModel.passDate ? 'text-red-400' : 'text-indigo-400'">
          {{eventModel.date | date: 'dd/MM/yyyy'}}
        </span>
      </article>
      <article class="break-words">
        <span class="font-medium">Description:</span>&nbsp;
        <span class="mt-2 text-slate-500">{{eventModel.description}}</span>
      </article>
      @if (eventModel.isPublic) {
        <article role="button" class="badge badge-primary badge-outline hover:bg-indigo-600 hover:text-white">
          <i class="fas fa-info"></i>&nbsp;
          <span>
            Public
          </span>
        </article>
      } @else {
        <article class="badge badge-secondary badge-outline">
          <i class="fas fa-lock"></i>&nbsp;
          Private
        </article>
      }
    </main>
  </section>
</section>