<dialog class="modal" role="none" id="profileModal" #profileModal>
  <main class="modal-box">
    <h3 class="font-bold text-lg">Hello!</h3>
    @if (hasEmail) {
      <p class="py-4">Your user id is: {{email}}</p>
      <p class="py-4">Your email is: {{email}}</p>
    } @else {
      <p class="py-4">
        You are disconnected, click on one of the following buttons
      </p>
      <section class="flex items-center">
        <a
          class="w-full text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800"
          [routerLink]="'login'"
          (click)="closeDialog()"
        >
          <i class="fas fa-right-to-bracket"></i>
          Login
        </a>
        <a
          class="w-full ml-4 text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800"
          [routerLink]="'signup'"
          (click)="closeDialog()"
        >
          <i class="fas fa-user-plus"></i>
          Signup
        </a>
      </section>
    }
    <footer class="modal-action">
      <button
        class="w-full text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800"
        (click)="closeDialog()"
      >
          <i class="fas fa-ban"></i>
          Close
      </button>
    </footer>
  </main>
</dialog>