<div class="md oj rg uo yr acc acf adj bxo" role="none">
  <div class="uo aqu avk" role="none"><img
      src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
      alt="" class="gx nl rn ads" role="none">
    <h2 class="lf awf axu" role="none">
      Name
    </h2>
    <p class="avz awo axq" role="none">
      Details
    </p>
  </div>
  <div class="lx un yr zf aqu" role="none">
    <dl class="mb yg aai aar avz axs" role="none">
      <dt class="fg awf axu" role="none">
        Phone
      </dt>
      <dd role="none">
        Phone number
      </dd>
      <dt class="fg awf axu" role="none">
        URL
      </dt>
      <dd class="adl" role="none">
        <a href="https://example.com" class="ayg bar" role="none">
          https://example.com
        </a>
      </dd>
      <dt class="fg awf axu" role="none">
        Email
      </dt>
      <dd class="adl" role="none">
        <a href="mailto:emilyselman@example.com" class="ayg bar" role="none">
          email
        </a>
      </dd>
    </dl>
    <button type="button" class="lk tn adu ajp are aru avz awf bag bbm bir box boy bpa bph" role="none">
      Send message
    </button>
  </div>
</div>