<section class="flex flex-col items-center justify-center px-6 py-4 mx-auto lg:py-0">
  <section class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 border-indigo-500 ring-indigo-500 ring-1">
    <main class="px-6 py-4 space-y-4 md:space-y-6 sm:p-8">
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        {{title}}
      </h1>
      <form [formGroup]="formGroup" (keydown.enter)="save($event)" (submit)="save()">
        <app-text formControlName="name" type="text" label="Name" id="name" name="name" [description]="'It is the savings target'"/>
        <app-text-area-input formControlName="description" label="Description" id="description" name="description" />
        <app-date-input formControlName="date" label="Date" id="date" name="date" />
        <app-text formControlName="totalAmount" type="text" label="Amount" id="totalAmount" name="totalAmount" [description]="'Amount'" />
        <app-select-input formControlName="savingTypeId" id="types" label="Types" name="types" [list]="typeList" [description]="formGroup.controls.savingTypeDescription.value"/>
        <app-select-input formControlName="periodId" id="period" label="Period" name="period" [list]="periodList" />
        <app-text formControlName="numberOfPayment" type="text" label="Number Of Payment" id="numberOfPayment" name="numberOfPayment" />
        <app-select-input formControlName="currencyId" id="currency" label="Currencies" name="currencies" [list]="currencyList" [description]="formGroup.controls.currencyDescription.value"/>
        <app-check-box-input *ngIf="model" formControlName="isActive" label="Is Active" />
        <footer class="flex justify-between">
          <button
            type="button"
            class="text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800 disabled:bg-indigo-300"
            [disabled]="saving"
            (click)="cancel()"
          >
            <i class="fas fa-arrow-left"></i>
            Cancel
          </button>
          @if (saving) {
            <button
              type="button"
              class="text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800 flex items-center disabled:bg-indigo-300"
              [disabled]="saving"
            >
              <span class="loading loading-spinner loading-xs mr-1"></span>
              Saving
            </button>
          } @else {
            <button
              role="button"
              type="submit"
              class="text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800 disabled:bg-indigo-400"
              [disabled]="formGroup.invalid"
            >
              <i class="fas fa-cloud-arrow-up"></i>
              Save
            </button>
          }
        </footer>
      </form>
    </main>
  </section>
</section>