<div class="container">
  <header>
    <nav class="nav container">
      <a href="#" class="nav-log">Name</a>
      <article class="nav-menu">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-name" href="">
              <i class=""></i>Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-name" href="">
              <i class=""></i>About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-name" href="">
              <i class=""></i>Skills
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-name" href="">
              <i class=""></i>Portfolio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-name" href="">
              <i class=""></i>Contactame
            </a>
          </li>
        </ul>

      </article>
      <img src="" alt="" class="nav-img">
    </nav>

  </header>


</div>